* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #F5F7FB;
	color: #293264;
	padding: 40px 75px;
	font-family: Helvetica, Arial, sans-serif;
}

main {
	height: 100vh;
}

.btn {
	font-size: 1rem;
	font-weight: 600;
	height: 52px;
	width: 193px;
	line-height: 52px;
	border: 0;
	border-radius: 15px;
	color: #fff;
	background-color: #4D5B9E;
	cursor: pointer;
}

.start-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 0 auto auto;
	height: 100%;
}

.start-screen__heading {
	font-size: 2rem;
	line-height: 36px;
	vertical-align: middle;
	margin: 20px auto;
}

.start-screen__description {
	font-size: 1rem;
	line-height: 20px;
	vertical-align: middle;
	margin: 20px auto;
}

.questions-screen {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
}

.question-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid #DBDEF0;
	padding: 15px 0;
}

.question-text {
	margin-bottom: 15px
}

.answers-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.answer {
	font-size: 0.8rem;
	height: 30px;
	color: #293264;
	background-color: transparent;
	border: 1px solid #4D5B9E;
	border-radius: 8px;
	padding: 0 10px;
	cursor: pointer;
}

.answer:hover {
	border-color: #D6DBF5;
	background-color: #D6DBF5;
}

.answer:disabled {
	color: #293264;
	background-color: transparent;
	border: 1px solid #4D5B9E;
	opacity: .5;
}

.answer.answer__selected {
	border-color: #D6DBF5;
	background-color: #D6DBF5;
}

.answer.answer__correct {
	border-color: #94D7A2;
	background-color: #94D7A2;
	opacity: 1;
}

.answer.answer__incorrect {
	border-color: #F8BCBC;
	background-color: #F8BCBC;
	opacity: 1;
}

.buttons-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 20px 0;
}